#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.buttons-container {
  margin-top: 20px;
  text-align: end;
}

.buttons-list li {
  display: inline;
  margin-left: 5px;
}
